@font-face {
    font-family: roboto-regular;
    src: url("../fonts/Roboto-Regular.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: bolder;
    font-family: roboto-regular,
        system-ui, -apple-system, 
        BlinkMacSystemFont, 'Segoe UI', 
        Roboto, Oxygen, Ubuntu, Cantarell, 
        'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    height: 100vh;
    display: grid;
    grid-template-columns: 3fr 10fr;
    grid-template-rows: 3fr 10fr;
}



/* SIDEBAR */
#sidebar {
    background-color: #1B8ECC;
    grid-column: 1;
    grid-row: 1/span 2;
    display: grid;
    grid-template-rows: 1fr 4fr 4fr;
}

#sidebar .dashboard {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    justify-items: center;
}

#sidebar .dashboard svg {
    height: 3em;
    fill: white;
}

#sidebar .dashboard p {
    color: white;
    font-size: 2em;
    justify-self: start;
}

#sidebar .home {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: repeat(6, 1fr);
    align-items: center;
    justify-items: center;
}

#sidebar .home svg {
    height: 2em;
    fill: white;
}

#sidebar .home p {
    color: white;
    font-size: 2em;
    justify-self: start;
}

#sidebar .settings {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: repeat(6, 1fr);
    align-items: center;
    justify-items: center;
    margin-top: 20px;
}

#sidebar .settings svg {
    height: 2em;
    fill: white;
}

#sidebar .settings p {
    color: white;
    font-size: 2em;
    justify-self: start;
}



/* HEADER */
#header {
    background-color: whitesmoke;
    grid-column: 2;
    grid-row: 1;
    display: grid;
    grid-template-columns: 6fr 3fr;
}



/* MAIN-CONTENT */
#main-content {
    background-color: #DFE6EE;
    grid-column: 2;
    grid-row: 2;
    display: grid;
    grid-template-columns: repeat(2, 3fr) 2fr;
}



/* 
        [COLORS]
    BLUE:       #1B8ECC
    MYSTIC:     #DFE6EE
    DOVE_GRAY:  #646262
    TULIP_TREE: #E2AF31
 */