@font-face {
    font-family: roboto-regular;
    src: url("../fonts/Roboto-Regular.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: bolder;
    font-family: roboto-regular,
        system-ui, -apple-system, 
        BlinkMacSystemFont, 'Segoe UI', 
        Roboto, Oxygen, Ubuntu, Cantarell, 
        'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    height: 100vh;
    display: grid;
    grid-template-columns: 3fr 10fr;
    grid-template-rows: 3fr 10fr;
}



/* SIDEBAR */
#sidebar {
    background-color: #1B8ECC;
    grid-column: 1;
    grid-row: 1/span 2;
    display: grid;
    grid-template-rows: 1fr 4fr 4fr;
}

/* dashboard section */
#sidebar .dashboard {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    justify-items: center;
}

#sidebar .dashboard svg {
    height: 3em;
    fill: white;
}

#sidebar .dashboard p {
    color: white;
    font-size: 2em;
    justify-self: start;
}

/* home section */
#sidebar .home {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: repeat(6, 1fr);
    align-items: center;
    justify-items: center;
}

#sidebar .home svg {
    height: 2em;
    fill: white;
}

#sidebar .home p {
    color: white;
    font-size: 1.5em;
    justify-self: start;
}

/* settings section */
#sidebar .settings {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: repeat(6, 1fr);
    align-items: center;
    justify-items: center;
    margin-top: 20px;
}

#sidebar .settings svg {
    height: 2em;
    fill: white;
}

#sidebar .settings p {
    color: white;
    font-size: 1.5em;
    justify-self: start;
}


/* HEADER */
#header {
    background-color: whitesmoke;
    grid-column: 2;
    grid-row: 1;
    display: grid;
    grid-template-columns: 6fr 3fr;
}

/* search section */
#header .search {
    display: grid;
    grid-template-columns: 1fr 9fr;
    align-items: center;
}

#header .search svg {
    height: 2em;
    justify-self: end;
}

#header .search .search-bar {
    height: 2em;
    width: 90%;
    margin-left: 25px;
    background-color: #DFE6EE;
    border-radius: 30px;
    border: none;
    padding-inline: 20px;
    font-size: large;
}

/* username section */
#header .username {
    display: grid;
    grid-template-columns: 0.5fr 0.1fr 1fr;
    align-items: center;
    column-gap: 2em;
}

#header .username svg {
    height: 2em;
    justify-self: end;
}

#header .username img {
    height: 3.5em;
    justify-self: center;
}

#header .username p {
    font-size: 21px;
}

/* greetings section */
#header .greetings {
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-items: center;
    column-gap: 2em;
}

#header .greetings img {
    height: 6em;
    justify-self: right;
}

#header .greetings .text .text-2 {
    font-size: 1.5em;
}


/* MAIN-CONTENT */
#main-content {
    background-color: #DFE6EE;
    grid-column: 2;
    grid-row: 2;
    display: grid;
    grid-template-columns: repeat(2, 3fr) 2fr;
}



/* 
        [COLORS]
    BLUE:       #1B8ECC (blue)
    MYSTIC:     #DFE6EE (gray)
    DOVE_GRAY:  #646262 (dark gray)
    TULIP_TREE: #E2AF31 (orange)
 */
 
 /*     [REFERENCES]
    
    <a href="https://www.flaticon.com/free-stickers/luck" title="luck stickers">Luck stickers created by Stickers - Flaticon</a>
    
    <a href="https://www.flaticon.com/free-stickers/amulet" title="amulet stickers">Amulet stickers created by Stickers - Flaticon</a>
    
    <a href="https://www.flaticon.com/free-stickers/japanese" title="japanese stickers">Japanese stickers created by Stickers - Flaticon</a>
  */