@font-face {
    font-family: roboto-regular;
    src: url("../fonts/Roboto-Regular.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: bolder;
    font-family: roboto-regular,
        system-ui, -apple-system, 
        BlinkMacSystemFont, 'Segoe UI', 
        Roboto, Oxygen, Ubuntu, Cantarell, 
        'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
}



/* SIDEBAR */
#sidebar {
    background-color: #1B8ECC;
    grid-column: 1;
    grid-row: 1/span 2;
    display: grid;
    grid-template-rows: 1fr 4fr 4fr;
}



/* dashboard section */
#sidebar .dashboard {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    justify-items: center;
}

#sidebar .dashboard svg {
    height: 3em;
    fill: white;
}

#sidebar .dashboard p {
    color: white;
    font-size: 2em;
    justify-self: start;
}



/* home section */
#sidebar .home {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: repeat(6, 1fr);
    align-items: center;
    justify-items: center;
}

#sidebar .home svg {
    height: 2em;
    fill: white;
}

#sidebar .home p {
    color: white;
    font-size: 1.5em;
    justify-self: start;
}



/* settings section */
#sidebar .settings {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: repeat(6, 1fr);
    align-items: center;
    justify-items: center;
    margin-top: 1em;
}

#sidebar .settings svg {
    height: 2em;
    fill: white;
}

#sidebar .settings p {
    color: white;
    font-size: 1.5em;
    justify-self: start;
}



/* HEADER */
#header {
    background-color: whitesmoke;
    grid-column: 2;
    grid-row: 1;
    display: grid;
    grid-template-columns: 2fr 1fr;
}



/* search section */
#header .search {
    display: grid;
    grid-template-columns: 0.10fr 1fr;
    align-items: center;
}

#header .search svg {
    height: 2em;
    justify-self: end;
}

#header .search .search-bar {
    height: 2em;
    width: 94%;
    margin-left: 1.5em;
    background-color: #DFE6EE;
    border-radius: 1em;
    border: none;
    padding-inline: 1em;
    font-size: large;
}



/* username section */
#header .username {
    display: grid;
    grid-template-columns: 2fr 1fr 3fr;
    align-items: center;
    column-gap: 2em;
}

#header .username svg {
    height: 2em;
    justify-self: end;
}

#header .username img {
    height: 3.5em;
    justify-self: center;
}

#header .username p {
    font-size: 1.3em;
}



/* greetings section */
#header .greetings {
    display: grid;
    grid-template-columns: 0.17fr 1fr;
    align-items: center;
    column-gap: 2em;
}

#header .greetings img {
    height: 6em;
    justify-self: right;
    margin-inline-start: 1em;
}

#header .greetings .text .text-2 {
    font-size: 1.5em;
}



/* upload-buttons section */
#header .upload-buttons {
    display: grid;
    grid-template-columns: repeat(3, 0.25fr);
    align-items: center;
    justify-items: center;
    column-gap: 2em;
    margin-inline: 3em;
}

#header .upload-buttons button {
    padding-block: 1em;
    width: 8em;
    background-color: #1B8ECC;
    color: white;
    border-radius: 2em;
    font-size: 1.1em;
    border: none;
}



/* MAIN-CONTENT */
#main-content {
    background-color: #DFE6EE;
    grid-column: 2;
    grid-row: 2;
    display: grid;
    grid-template-columns: 2fr 0.70fr;
    grid-template-rows: 0.8fr 10fr;
    column-gap: 1em;
    row-gap: 1em;
    padding-inline: 1.5em;
    padding-block-end: 4em;
}



/* projects/announcement headers */
#main-content .sub-header {
    align-content: end;
    font-size: 1.5em;
}



/* project cards section */
#main-content .project-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    row-gap: 1.5em;
    column-gap: 1.5em;
}

#main-content .card {
    display: grid;
    grid-template-columns: 0.1fr 6fr;
    border-radius: 0.5em;
    background-color: whitesmoke;
}

#main-content .card-line-color {
    background-color: #E2AF31;
    /* apply border radius to both left-corners */
    border-radius: 0.5em 0 0 0.5em; 
}

#main-content .card-content {
    padding: 1em;
    display: grid;
    grid-template-rows: 1fr 0.5fr;
}

#main-content .card-content .card-text {
    align-content: center;
}

#main-content .title {
    font-size: 1.3em;
    padding-block-end: 0.3em;
}

#main-content .description {
    font-weight: normal;
    color: #646262;
}

#main-content .card-icons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2em;
    padding-inline: 2em;
}

#main-content .card-icons svg {
    height: 2.5em;
}



/* announcement section */
#main-content .announcement-section {
    display: grid;
    grid-template-rows: 1fr 0.18fr 1fr;
    padding-inline-end: 1.5em;
}

#main-content .announcement-section .announcement-cards {
    background-color: whitesmoke;
    border-radius: 0.5em;
    display: grid;
    grid-template-rows: repeat(2, 1fr .01fr) 1fr;
    padding: 2em;
    row-gap: 1em;
}

#main-content .announcement-cards .card {
    display: flex;
    flex-direction: column;
}

#main-content .announcement-cards .title {
    font-size: 1em;
}

#main-content .announcement-cards .description {
    font-size: 0.85em;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

#main-content .announcement-cards .grid-line {
    background-color: lightgray;
}



/* trending section */
/*#main-content .trending-card {
    
}*/

/* 
        [COLORS]
    BLUE:       #1B8ECC (blue)
    MYSTIC:     #DFE6EE (gray)
    DOVE_GRAY:  #646262 (dark gray)
    TULIP_TREE: #E2AF31 (orange)
 */
 
 /*     [REFERENCES]
    
    <a href="https://www.flaticon.com/free-stickers/luck" title="luck stickers">Luck stickers created by Stickers - Flaticon</a>
    
    <a href="https://www.flaticon.com/free-stickers/amulet" title="amulet stickers">Amulet stickers created by Stickers - Flaticon</a>
    
    <a href="https://www.flaticon.com/free-stickers/japanese" title="japanese stickers">Japanese stickers created by Stickers - Flaticon</a>
  */