* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    display: grid;
    grid-template-columns: 3fr 10fr;
    grid-template-rows: 3fr 10fr;
}

#sidebar {
    background-color: cornflowerblue;
    grid-column: 1;
    grid-row: 1/span 2;
    display: grid;
    grid-template-rows: 2fr 4fr 4fr;
}

#header {
    background-color: whitesmoke;
    grid-column: 2;
    grid-row: 1;
    display: grid;
    grid-template-columns: 6fr 3fr;
}

#main-content {
    background-color: gray;
    grid-column: 2;
    grid-row: 2;
    display: grid;
    grid-template-columns: repeat(2, 3fr) 2fr;
}